[Unit]
Description=Disable USB wakeup triggers in /proc/acpi/wakeup

[Service]
Type=oneshot
ExecStart=/bin/bash -c "sudo echo XHC > /proc/acpi/wakeup"
ExecStop=/bin/bash -c "sudo echo XHC > /proc/acpi/wakeup"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.targe
